body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 25%;
}

#main-nav {
    position: sticky;
    top: 0px;
    z-index: 1;
}

#title-text h1 {
    margin-bottom: 0;
}

#main-nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #00008b;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

#main-nav a:hover {
    background-color: #00A619;
}

#main-nav a:active {
    color: #00008b;
}

.container {
    border: 2px solid #00A619;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

#color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    margin: 20px auto;
    min-height: 100px;
    width: 30%;
}

.color1,
.color2,
.color3 {
    color: white;
    margin: 10px;
}

.color1 {
    background-color: #00008b;
}

.color2 {
    background-color: #00A619;
}

.color3 {
    background-color: black;
}

#font-container {
    width: 100%;
}

.font-panel {
    display: inline-block;
    width: 30%;
}

.font-name {
    font-size: 20px;
    text-decoration: underline;
}

.font-normal {
    font-style: normal;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.font1 {
    font-family: 'Open Sans', sans-serif;
}

.font2 {
    font-family: 'Roboto', sans-serif;
}

.font3 {
    font-family: 'Lora', sans-serif;
}

.text-panel ul {
    list-style-type: none;
}

.text-panel {
    display: inline-block;
    width: 30%;
}

h1 {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: 500;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-weight: normal;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}